<% label_form ||= "" %>
<%= form_with(model: reward, local: true) do |f| %>
  <div class="row mt-sm-4">
    <div class="col-12 col-md-12 col-lg-12">
      <div class="card card-primary">
        <div class="card-header">
          <h4><%= label_form %></h4>
        </div>
        <div class="card-body">
          <%= render 'components/errors_message', object: f.object %>
          <div class="form-row">
            <div class="form-group col-md-12">
              <%= f.label :name %><br/>
              <%= f.text_field :name, autofocus: true, class: 'form-control' %>
            </div>
          </div>
          <%= f.fields_for :type_association do |e| %>
            <% render 'type_association_fields', f: e %>
          <% end %>
          <div class="form-row">
            <div class="form-group col-md-12">
              <%= f.label :descricao %><br/>
              <%= f.text_area :descricao, rows: 4, class: 'form-control' %>
            </div>
          </div>

          <div class="align-left-right">
            <%= link_to 'Voltar', rewards_path, class: "btn btn-primary" %>
            <%= f.submit "Salvar", { class: 'btn btn-warning mr-1' } %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
