<% label_form ||= "" %>
<%= form_with(model: reward, local: true) do |f| %>
  <div class="row mt-sm-4">
    <div class="col-12 col-md-12 col-lg-6">
      <div class="card card-primary">
        <div class="card-header">
          <h4><%= label_form %></h4>
        </div>
        <div class="card-body">
          <%= render 'components/errors_message', object: f.object %>
          <div class="form-row">
            <div class="form-group col-md-12">
              <%= f.label :name %><br/>
              <%= f.text_field :name, autofocus: true, class: 'form-control' %>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <%= f.fields_for :type_associations do |type_rule| %>
                <%= render 'type_association_fields', f: type_rule %>
              <% end %>
              <br>
              <%= link_to_add_association "Adicionar Tipo de Regra", f, :type_associations, class: 'btn btn-info' %>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <%= f.label :descricao %><br/>
              <%= f.text_area :descricao, rows: 4, class: 'form-control' %>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <%= f.label :dta_inicio %><br/>
              <%= f.text_field :dta_inicio, value: f.object.dta_fim.strftime("%d/%m/%y %R"),
                               class: 'form-control datetimepicker' %>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <%= f.label :dta_fim %><br/>
              <%= f.text_field :dta_fim, value: f.object.dta_fim.strftime("%d/%m/%y %R"),
                               class: 'form-control datetimepicker' %>
            </div>
          </div>

          <div class="align-left-right">
            <%= link_to 'Voltar', rewards_path, class: "btn btn-primary" %>
            <%= f.submit "Salvar", { class: 'btn btn-warning mr-1' } %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
