<%= render 'components/panel/panel_header_new',
           options: { title: 'Recompensas',
                      link: new_reward_path,
                      link_options: { label: "Novo" } } %>

<div class="card-body">
  <div class="table-responsive">
    <table class="table table-striped table-bordered dataTable" width="100%" cellspacing="0">
      <thead>
      <tr>
        <th>Objetivo</th>
        <th>Recompensa</th>
        <th>Data Início</th>
        <th>Data Fim</th>
        <th>Prioridade</th>
        <th>Quantidade</th>
        <th>Status</th>
        <th>Açoes</th>
      </tr>
      </thead>
      <tbody style="font-weight: bold">
      <% @rewards.each do |reward| %>
        <tr>
          <td><%= reward.name %></td>
          <td><%= reward.recompensa %></td>
          <td><%= reward&.type_association&.dta_inicio %></td>
          <td><%= reward&.type_association&.dta_fim %></td>
          <td><%= reward&.type_association&.decorate&.priorities %></td>
          <td><%= reward&.type_association&.quantidade %></td>
          <td><%= reward&.status.to_i == 1 ? "Ativo" : "Inativo" %></td>
          <td align="center">
            <%= link_to_editar(edit_reward_path(reward)) %>
            <%= link_to_excluir(reward_path(reward)) %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
